description.header[level="1"] {
  font-size: 249%;
}
description.header[level="2"] {
  font-size: 208%;
}
description.header[level="3"] {
  font-size: 173%;
}
description.header[level="4"] {
  font-size: 144%;
}
description.header[level="5"] {
  font-size: 120%;
}
description.header[level="1"]
{
  font-size: 249%;
}
description.header[level="2"]
{
  font-size: 208%;
}
description.header[level="3"]
{
  font-size: 173%;
}
description.header[level="4"]
{
  font-size: 144%;
}
description.header[level="5"]
{
  font-size: 120%;
}

.bkch-reference
{
  color: blue;
  -moz-user-focus: normal;
  -moz-binding: url('chrome://bkch/content/bkch.xml#reference');
}

.bkch-element-button
{
  -moz-binding: url('chrome://bkch/content/bkch.xml#element-button');
}
.bkch-element-button button
{
  min-width: 0px;
  width: 4em;
  -moz-box-flex: 1;
}

.bkch-periodic-header
{
  font-weight: bold;
  text-align: center;
}

element[bkch-emphasized="true"]
{
  font-weight: bold;
  color: red;
}

description[bkch-type="group"]
{
  font-weight: bold;
  text-align: center;
}

description[bkch-type="period"]
{
  font-weight: bold;
}

description
{
  -moz-user-focus: normal;
}
