description.header[level="1"] {
  font-size: 249%;
}
description.header[level="2"] {
  font-size: 208%;
}
description.header[level="3"] {
  font-size: 173%;
}
description.header[level="4"] {
  font-size: 144%;
}
description.header[level="5"] {
  font-size: 120%;
}
